* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;


}

h1,
h2,
h3 {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.section-container {
    background: url(./image\ 6.png) no-repeat;
    position: relative;
    background-size: cover;
    height: 743px;



}

.back {
    width: 768px;
    height: 10rem;
    position: absolute;
    top: 6.625rem;

    background: linear-gradient(90.08deg, rgba(86, 151, 182, 0.6) 0.08%, rgba(0, 0, 0, 0) 99.94%);


}

.text {
    position: absolute;
    top: 18.6%;
}

.text h1 {

    font-weight: 500;
    font-size: 4.5rem;
    line-height: 5.875rem;


    color: #FFFFFF;
}

.text p {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;

    color: #FFFFFF;
}

.info {
    margin-top: 78px;
}



/* form */


.form-group {
    display: flex;
    justify-content: space-around;
}

.form {
    position: absolute;
    width: 35.625rem;
    /* height: 41.563rem; */
    top: 2.125rem;
    right: 7.5rem;

    border-top: 5px solid #5697B6;
    background: #FFFFFF;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.form-inner-section {
    padding: 1.188rem 2.25rem 2.439rem;
}

.form-heading {
    display: flex;
}

.head {
    margin: 1.563rem 0 0 2.938rem;

}

.head h2 {

    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
    color: #000000;
    margin-bottom: 11px;

}

.head p {

    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: #000000;
}



.inner-fields {

    display: flex;
    gap: 1.875rem;
    margin-bottom: 1.875rem;

}



.form-fields {
    margin-top: 2rem;
}

.fields {
    width: 234px;
}

.fields label {

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;



    color: #000000;

}


.fields input {
    width: 100%;
    height: 1.875rem;


    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.field {

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select {
    outline: none;
    border: none;

    width: 100%;
    height: 32px;
}

.button {
    margin-top: 2.75rem;

}


input[type="submit"] {

    height: 3.563rem;


    background: #5697B6;
    border-radius: 0.625rem;
    border-style: none;
}

input[value="Submit"] {

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #FFFFFF;



}



/* Section 2 begins */
.image {
    margin: 122px 0 114px;
}

.text-mid {


    margin-left: 64px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 100%;
}

.group {
    position: relative;
}

.group img {
    position: absolute;
    top: 0;
    right: 0;
}

.text-mid {
    gap: 11px;
}

.text-mid h2 {

    font-weight: 500;
    font-size: 64px;
    line-height: 83px;

    color: #5697B6;

}

.text-mid p {

    font-weight: 400;
    font-size: 32px;
    line-height: 142.55%;



    color: #000000;
}

/* common container */
.header-card-content {
    padding-top: 120px;

}

/* Section 3  */
.dot {

    position: relative;
}

.dot img {
    position: absolute;
    top: 5px;
    right: 71px;
}

.section-mid {


    background: rgba(86, 151, 182, 0.1);

}



.mid-container {
    padding-bottom: 140px;
}

.header {
    margin-bottom: 60px;
}

.header h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;


    color: #5697B6;

}

.card-img {
    width: 96px;
    height: 98px;
}

.cards {
    margin-bottom: 30px;


}

.card-img {
    margin-top: 33px;
}

.card-content {
    width: 370px;
    height: 348px;


    background: #222425;
}

.card-com {

    padding: 24px;
}


.card-text {
    margin-top: 37px;
}

.card-text h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;


    color: #FFFFFF;

}

.card-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 14px;


    color: #FFFFFF;

}

.curve {
    position: relative;
}

.curve img {
    position: absolute;
    bottom: -72px;
    left: 0;
    z-index: -1;
}


/* section 4 */

.header-text {
    width: 86%;
    margin: auto;
    text-align: center;

}

.row-head {
    margin-bottom: 72px;
}

.header-text h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #5697B6;

}


.bg-container {
    padding-bottom: 80px;
}


.card-main {
    text-align: center;
    width: 210px;

}

.cardimg {
    margin-bottom: 50px;
}

.cardimg img {
    width: 210px;
    height: 210px;
}

.section-bg {
    background: #222425;
}

.text-card h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #5697B6;

}

.text-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 10px;
}

.grp {
    position: relative;

}

.grp img {

    position: absolute;
    bottom: 0;
    right: 0;
}


/* section 5 */
.text-image-container {

    padding-bottom: 160px;

}

.img-fig img {
    display: block;
    margin: 0 auto;
}

.mid-text {
    text-align: center;
    margin-bottom: 39px;
}

.mid-text h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    width: 76%;
    margin: auto;
    color: #5697B6;

}

.mid-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
    width: 42%;
    margin: 20px auto 0;
}

/* image */
.art img {
    width: 100%;
}


/* section 6 */
.section6-bg {
    background: #222425;
    height: 578px;
}

.cardcontent {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    width: 370px;
    height: 360px;

}


.mid-curve-img {
    position: relative;
}

.mid-curve-img img {
    position: absolute;
    top: -190px;
    left: 0;
}

.row-head-text {
    margin-bottom: 78px;
}

.card_body {
    padding: 16px;
}


.main-text h2 {
    width: 80%;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    color: #5697B6;

}

.card_body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;



    color: #000000;

}

.learn-content {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    margin-top: 17px;
}

.learn-content a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    text-decoration: none;
    color: #5697B6;


}




/* section-7 */

.dot-bg {
    position: relative;
}

.dot-bg img {
    position: absolute;
    bottom: 32px;
    left: 33px;
}

.text-midpart {
    margin-left: 41px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 100%;
    gap: 22px;
}

.group-image {
    position: relative;
}

.group-image img {
    position: absolute;
    top: -87px;
    right: 0;
    z-index: -1;

}

.container-mid {
    padding: 264px 0 120px;
}


.text-midpart h2 {

    font-size: 64px;
    line-height: 75px;

    color: #5697B6;

}

.text-midpart p {
    font-weight: 400;
    font-size: 28px;
    line-height: 121.4%;



    color: #000000;

}



/* section 8 img */
.midcontent-image {
    padding: 80px 0;
}

.mid-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}


.mid-content h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    color: #5697B6;

}

.mid-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

.para-content {
    margin-top: 40px;
}

.mid-content-img {
    position: relative;
}

.mid-content-img img {
    position: absolute;
    bottom: -307px;
    left: 0;
    z-index: -1;

}

.image-rightside {
    display: flex;
    justify-content: center;
    margin-left: 72px;

}



/* Section 9 */
.section-bg-form {
    background-image: url(./image\ 29\ \(1\).png);
    background-repeat: no-repeat;

    background-size: cover;
}


.form-content {

    width: 35.625rem;
    /* height: 41.563rem; */

    margin: 69px 60px 80px 0;
    border-top: 5px solid #5697B6;
    background: #FFFFFF;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.form-inner-content {
    padding: 63px 36px;
}

.form-field {
    margin-top: 40px;
}

.form-header p {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #5697B6;

}

.form-main {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:568px) {



    /* ----common container */

    .header-card-content {
        padding: 40px 0;
    }


    /*  */

    .mid-text h2 {

        font-size: 24px;
        line-height: 30px;
        width: unset;



    }

    .mid-text p {

        font-size: 16px;
        line-height: 21px;


        width: unset;
        margin: 20px auto 39px;
    }

    .back {

        width: 100%;
        top: 1rem;
        height: 80px;
    }

    .form {
        width: 100%;
        top: 44%;
        right: 0;
    }

    .fields {
        width: 100%;
        margin-bottom: 20px;
    }

    .inner-fields {

        display: block;


    }

    .text {

        top: 1.4%;
        left: 5%;


    }

    .info {
        margin-top: 12px;
    }

    .text h1 {


        font-size: 2rem;
        line-height: 5.875rem;

    }

    .text p {

        font-size: 1.25rem;
        line-height: 1.625rem;
        margin-top: 0.75rem;

    }

    .section-container {
        background: #000000;

    }



    .head h2 {


        font-size: 0.875rem;
        line-height: 0.938rem;
        color: #000000;

    }

    .head p {


        font-size: 0.75rem;
        line-height: 0.875rem;
        color: #000000;
    }


    .image img {
        width: 100%;
        margin-top: 360px;
    }

    .image {
        margin-bottom: 0;
    }

    .group {
        display: none;
    }

    .text-mid {

        gap: 0;
        margin-bottom: 30px;
        margin-left: 16px;
    }

    .text-mid h2 {
        font-size: 40px;
    }

    .text-mid p {
        font-size: 20px;
    }

    .header {
        margin-bottom: 40px;
    }

    .header h2 {
        margin-bottom: 20px;
    }

    br {
        display: none;
    }

    .header h2 {
        margin-top: 20px;
        font-size: 28px;
        line-height: 28px;
    }

    .dot {
        display: none;
    }

    .card-content {
        width: 100%;
        margin-bottom: 30px;

    }

    .cards {
        margin-bottom: 0;

    }



    .curve {
        display: none;
    }

    .header-text {
        width: unset;


        margin-bottom: 30px;
    }

    .header-text h2 {

        font-size: 24px;
        line-height: 30px;


    }

    .grp {
        display: none;
    }

    /* section 4 */

    .row-head {
        margin-bottom: 20px;
    }

    .cards-gap {
        gap: 50px;
    }

    .card-main {
        width: 100%;
    }

    .cardimg {
        margin-bottom: 15px;
    }

    .img-fig img {
        width: 100%;
    }

    .art img {
        width: 100%;
    }




    /*------------------------------ section 6 -------------------------------*/
    .section6-bg {

        height: 100%;
    }

    .row-head-text {
        margin-bottom: 0;
    }

    .cardcontent {
        height: 90%;
        width: 100%;

        margin-top: 48px;
    }

    .card_body {
        padding: 16px;
    }


    .main-text h2 {
        width: unset;

        font-size: 30px;
        line-height: 32px;



    }

    .card-image img {
        width: 100%;
    }

    .card_body p {

        font-size: 16px;
        line-height: 21px;
    }

    .mid-curve-img {
        display: none;
    }

    /* section 7 */
    .dot-bg {
        display: none;
    }


    .group-image {
        display: none;
    }

    .container-mid {
        padding: 40px 0;
    }

    .text-midpart {
        margin-top: 20px;
        margin-left: 16px;
    }

    .text-midpart h2 {

        font-size: 32px;
        line-height: 30px;

    }

    .strau-image img {
        width: 100%;

    }

    .text-midpart p {

        font-size: 20px;


    }

    .art img {
        height: 100%;
    }

    /* section 8 */
    .image-rightside {
        margin-top: 20px;
        margin-left: 0;
    }

    .image-rightside img {
        width: 100vw;
    }

    .mid-content-img {
        display: none;
    }

    .midcontent-image {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .mid-content h2 {
        font-size: 32px;
        line-height: 30px;
    }

    .mid-content p {

        font-size: 14px;
        line-height: 20px;

    }

    .para-content {
        margin-top: 20px;
    }

    /* section 9 */
    .form-inner-content {
        padding: 30px;
    }

    .section-bg-form {
        background-size: contain;
    }

    .form-content {
        width: 100%;

        margin-top: 204px;
        margin-bottom: 0;
        width: 100%;

    }

    .form-main {
        display: block;
        padding: 0;
    }

    .form-header p {
        font-size: 18px;
    }
}

/* media queries */

@media only screen and (min-width:768px) and (max-width:912px) {
    .form {
        width: 100vw;
        top: 700px;
        right: 0;
        height: 100%;
    }

    .section-container {
        background: #000000;

    }

    .outer-section {
        display: none;
    }

    .section-5 {
        width: unset;
    }

    .mid-text p {
        padding: 0;
    }

    .text p {

        font-size: 2rem;
        line-height: 1.625rem;
        margin-top: 0.75rem;

    }

    .inner-fields {

        display: flex;
        justify-content: space-between;

    }


    .image img {
        width: 100%;
        margin-top: 580px;
    }

    .image {
        margin-bottom: 0;
    }

    .group {
        display: none;
    }

    .text-mid {

        margin-bottom: 20px;
        margin-left: 24px;
    }

    .header h2 {

        font-size: 34px;
        line-height: 40px;
    }

    .mid-container {
        padding-bottom: 0;
    }

    .dot img {
        right: 40px;
    }

    .card-content {
        width: 100%;

        height: 100%;

    }

    .card-com {
        padding: 10px;
    }

    .card-img {
        margin-top: 5px;
    }

    .mid {
        height: 100%;
    }

    .group img {
        display: none;
    }


    .art img {
        width: 100%;
    }

    .img-fig img {
        width: 100%;
    }

    .cardimg img {
        width: 100%;
    }

    /* common container  */
    .header-card-content {
        padding: 60px;
    }

    .header {
        margin-bottom: 30px;
    }

    /* section 4 */

    .header-text {
        width: unset;

    }

    .header-text h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .row-head {
        margin-bottom: 40px;
    }

    .card-main {
        width: 100%;
    }

    .grp img {
        width: 20%;
    }

    /* section 5 */
    .mid-text h2 {

        font-size: 30px;
        line-height: 36px;
        width: unset;



    }

    .mid-text p {

        font-size: 20px;
        line-height: 26px;


        width: unset;
        margin: 20px auto 39px;
    }

    .text-image-container {
        padding: 60px;
    }

    /* section 6 */
    .section6-bg {

        height: 370px;
    }

    .row-head-text {
        margin-bottom: 20px;
    }

    .mid-curve-img img {
        width: 30%;
        top: -156px;
    }

    .cardcontent {

        width: 100%;
        height: 305px;
        margin-top: 48px;
    }

    .card_body {
        padding: 16px;
    }

    .main-text-cards {
        padding: 60px 0;

    }

    .main-text h2 {
        width: unset;

        font-size: 36px;
        line-height: 40px;



    }

    .card-image img {
        width: 100%;
    }

    .card_body p {

        font-size: 16px;
        line-height: 21px;


    }


    /* section 7 */


    .dot-bg {
        display: none;
    }


    .group-image {
        display: none;
    }

    .text-midpart {
        margin-top: 20px;
        margin-left: 28px;
    }


    .strau-image img {
        width: 100%;

    }

    /* section 8 */
    .image-rightside img {
        width: 110%;
    }

    .mid-content h2 {

        font-size: 32px;
        line-height: 34px;

    }

    .mid-content-img img {


        left: -94px;

        width: 70%;
    }

    .image-rightside {
        display: block;
        margin-left: 0;
    }

    .fields {
        width: 100%;
    }

    /* section 9 */

    .form-content {
        width: 106%;
        height: 62%;
        margin-left: -3%;
        margin-top: 61%;
    }

    .form-main {
        display: block;
    }

    .section-bg-form {
        background-size: contain;
    }

    br {
        display: none;
    }
}


@media only screen and (min-width:820px) and (max-width:912px) {

    .image-rightside img {
        width: 118%;
    }

    .form-content {
        width: 114%;
        height: 61%;
        margin-left: -7%;
        margin-top: 65%;
    }
}

@media only screen and (min-width:912px) and (max-width:1000px) {
    .image-rightside img {
        width: 132%;
    }

    .form-content {
        width: 127%;
        height: 58%;
        margin-left: -14%;
        margin-top: 72%;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {


    .cardcontent {
        width: 100%;
    }

    .main-text h2 {
        width: unset;

    }

    .card-image img {
        width: 100%;
    }

    .strau-image img {
        width: 100%;
    }

    .text-midpart {
        margin-left: 21px;

    }

    .text-midpart h2 {
        font-size: 40px;
        line-height: 40px;

    }

    .group-image img {
        width: 30%;
    }

    .art img {
        width: 100%;
    }

    .img-fig img {
        width: 100%;
    }

    .cardimg img {
        width: 100%;
    }

    .section-container {
        height: 100vh;

    }

    .card-com {
        padding: 25px 10px;

    }

    .header h2 {
        margin-top: 30px;
        font-size: 40px;
        line-height: 40px;
    }

    .mid {
        height: 100%;
    }

    .text p {

        font-size: 1.5rem;
        line-height: 1.625rem;
        margin-top: 0.75rem;

    }

    .form {
        width: 47%;
        right: 30px;
        top: 10px;
    }

    .text {
        top: 23%;
    }

    .back {
        width: 50%;
    }

    .image img {
        width: 100%;
    }



    .group img {
        width: 20%;
    }

    .text-mid {
        margin-left: 10px;

    }

    .card-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .text-mid p {
        font-size: 30px;
    }

    .form-fields {
        margin-top: 6px;
    }

    .button {
        margin-top: 10px;
    }

    .inner-fields {
        margin-bottom: 6px;
    }

    .mid-container {
        margin-bottom: 0;

    }

    .header-card-content {
        padding: 60px;
    }

    .container-mid {
        padding: 100px 0;
    }

    .mid-curve-img img {

        top: -245px;

    }

    /* section 8 */
    .mid-content h2 {

        font-size: 36px;
        line-height: 40px;

    }

    .para-content {
        margin-top: 20px;
    }

    .image-rightside {
        display: block;
    }

    .image-rightside img {
        width: 111%;
    }

    br {
        display: none;
    }

    .mid-content-img {
        display: none;
    }

    /* section 9 */

    .form-content {
        width: 50%;
        margin: 20px 0;
    }
}

@media only screen and (min-width:1280px) and (max-width:1300px) {

    /* section 1 */
    .form {
        right: unset;
    }

    /* section 2 */
    .image img {
        width: 100%;
    }


    /* section 7*/
    .strau-image img {
        width: 100%;
    }


    /* section 8 */
    .image-rightside img {
        width: 134%;
    }



    /* section 9*/
    .form-content {
        width: 50%;
        margin: 20px 0;
    }
}

@media screen and (max-width:280px) {
    .cardcontent {
        width: 100%;
        height: 310px;
    }

    .image img {
        width: 100%;
        margin-top: 439px;
    }

    .card-com {
        padding: 10px;

    }

    .card-content {
        width: 100%;
        margin-bottom: 30px;
        height: 90%;
    }

    .card-text {
        margin-top: 0;
    }

    .card-img {
        margin-top: 20px;
    }

    .text-mid p {
        font-size: 14px;
    }

    .card-text h3 {
        font-size: 18px;
    }

    .card-text p {
        font-size: 14px;
    }

    .header h2 {

        font-size: 20px;
    }

    .header-card-content {
        padding: 20px 0;
    }

    .text-midpart h2 {
        font-size: 30px;
    }

    .form-content {
        margin-top: 158px;
    }
}